body {
  margin: 0; 
  padding: 0; 
}

.container { 
  max-width: 100vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* 로고 섹션 */
.logo_section{
  text-align: center;
  margin-bottom: 40px;
}

.logo {
  width: 230px;
  height: auto;
}

/* 폼 섹션 */
.login_form{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login_form_field {
}

.form_section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login_error_msg {
  color: red;
  font-size: 14px;
  margin-top: 6px;
  display: none;
}

input:invalid:not(:placeholder-shown) + .login_error_msg {
  display: block;
}

input:valid + .login_error_msg {
  display: none;
}

/* 옵션 섹션 */
.option_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.keep_login {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  input {
    position: absolute;
    width: 0;
    height: 0;
  }
}