/* 여기에 스타일을 구현해 주세요 */
body{
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.profile_image_list_wrapper{
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 320px;
}

li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile_image_list{
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.profile_image_list .profile_status {
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.profile_image_list .profile_status_online {
  background-color: #95EE00;
}

.profile_image_list .profile_status_offline {
  background-color: #efefef;
}



.profile_image_list:nth-child(4n){
  margin-right: 0;
}

.profile_image_list img{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.offline:after{

}